.converter-container{
  padding: 20px;
  background-color: #15202b !important;
}
.coins-value{
  margin-top: 20px;
}
.description-converter{
  padding: 20px;
}
.coins-style{
  padding: 10px;
}
.btn-primary{
  margin-top: 10px;
}